<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>北京</key>
	<string>CN101010100</string>
	<key>上海</key>
	<string>CN101020100</string>
	<key>天津</key>
	<string>CN101030100</string>
	<key>重庆</key>
	<string>CN101040100</string>
	<key>哈尔滨</key>
	<string>CN101050101</string>
	<key>齐齐哈尔</key>
	<string>CN101050201</string>
	<key>牡丹江</key>
	<string>CN101050301</string>
	<key>佳木斯</key>
	<string>CN101050401</string>
	<key>绥化</key>
	<string>CN101050501</string>
	<key>黑河</key>
	<string>CN101050601</string>
	<key>大兴安岭</key>
	<string>CN101050701</string>
	<key>伊春</key>
	<string>CN101050801</string>
	<key>大庆</key>
	<string>CN101050901</string>
	<key>长春</key>
	<string>CN101060101</string>
	<key>吉林</key>
	<string>CN101060201</string>
	<key>延边</key>
	<string>CN101060301</string>
	<key>通化</key>
	<string>CN101060501</string>
	<key>沈阳</key>
	<string>CN101070101</string>
	<key>大连</key>
	<string>CN101070201</string>
	<key>鞍山</key>
	<string>CN101070301</string>
	<key>抚顺</key>
	<string>CN101070401</string>
	<key>丹东</key>
	<string>CN101070601</string>
	<key>锦州</key>
	<string>CN101070701</string>
	<key>铁岭</key>
	<string>CN101071101</string>
	<key>呼和浩特</key>
	<string>CN101080101</string>
	<key>包头</key>
	<string>CN101080201</string>
	<key>鄂尔多斯</key>
	<string>CN101080701</string>
	<key>石家庄</key>
	<string>CN101090101</string>
	<key>保定</key>
	<string>CN101090201</string>
	<key>张家口</key>
	<string>CN101090301</string>
	<key>承德</key>
	<string>CN101090402</string>
	<key>唐山</key>
	<string>CN101090501</string>
	<key>沧州</key>
	<string>CN101090701</string>
	<key>邢台</key>
	<string>CN101090901</string>
	<key>邯郸</key>
	<string>CN101091001</string>
	<key>秦皇岛</key>
	<string>CN101091101</string>
	<key>太原</key>
	<string>CN101100101</string>
	<key>阳泉</key>
	<string>CN101100301</string>
	<key>大同</key>
	<string>CN101100201</string>
	<key>晋中</key>
	<string>CN101100401</string>
	<key>晋城</key>
	<string>CN101100601</string>
	<key>西安</key>
	<string>CN101110101</string>
	<key>咸阳</key>
	<string>CN101110200</string>
	<key>延安</key>
	<string>CN101110300</string>
	<key>汉中</key>
	<string>CN101110801</string>
	<key>宝鸡</key>
	<string>CN101110901</string>
	<key>济南</key>
	<string>CN101120101</string>
	<key>青岛</key>
	<string>CN101120201</string>
	<key>淄博</key>
	<string>CN101120301</string>
	<key>德州</key>
	<string>CN101120401</string>
	<key>烟台</key>
	<string>CN101120501</string>
	<key>潍坊</key>
	<string>CN101120601</string>
	<key>济宁</key>
	<string>CN101120701</string>
	<key>威海</key>
	<string>CN101121301</string>
	<key>乌鲁木齐</key>
	<string>CN101130101</string>
	<key>拉萨</key>
	<string>CN101140101</string>
	<key>西宁</key>
	<string>CN101150101</string>
	<key>兰州</key>
	<string>CN101160101</string>
	<key>银川</key>
	<string>CN101170101</string>
	<key>郑州</key>
	<string>CN101180101</string>
	<key>许昌</key>
	<string>CN101180401</string>
	<key>开封</key>
	<string>CN101180801</string>
	<key>洛阳</key>
	<string>CN101180901</string>
	<key>焦作</key>
	<string>CN101181101</string>
	<key>南京</key>
	<string>CN101190101</string>
	<key>无锡</key>
	<string>CN101190201</string>
	<key>镇江</key>
	<string>CN101190301</string>
	<key>苏州</key>
	<string>CN101190401</string>
	<key>扬州</key>
	<string>CN101190601</string>
	<key>徐州</key>
	<string>CN101190801</string>
	<key>淮安</key>
	<string>CN101190901</string>
	<key>连云港</key>
	<string>CN101191001</string>
	<key>常州</key>
	<string>CN101191101</string>
	<key>武汉</key>
	<string>CN101200101</string>
	<key>襄阳</key>
	<string>CN101200201</string>
	<key>黄冈</key>
	<string>CN101200501</string>
	<key>荆州</key>
	<string>CN101200801</string>
	<key>宜昌</key>
	<string>CN101200901</string>
	<key>神农架</key>
	<string>CN101201201</string>
	<key>杭州</key>
	<string>CN101210101</string>
	<key>湖州</key>
	<string>CN101210201</string>
	<key>嘉兴</key>
	<string>CN101210301</string>
	<key>宁波</key>
	<string>CN101210401</string>
	<key>绍兴</key>
	<string>CN101210501</string>
	<key>台州</key>
	<string>CN101210601</string>
	<key>温州</key>
	<string>CN101210701</string>
	<key>丽水</key>
	<string>CN101210801</string>
	<key>金华</key>
	<string>CN101210901</string>
	<key>合肥</key>
	<string>CN101220101</string>
	<key>芜湖</key>
	<string>CN101220301</string>
	<key>淮南</key>
	<string>CN101220401</string>
	<key>黄山</key>
	<string>CN101221001</string>
	<key>淮北</key>
	<string>CN101221201</string>
	<key>福州</key>
	<string>CN101230101</string>
	<key>厦门</key>
	<string>CN101230201</string>
	<key>莆田</key>
	<string>CN101230401</string>
	<key>泉州</key>
	<string>CN101230501</string>
	<key>九江</key>
	<string>CN101240201</string>
	<key>上饶</key>
	<string>CN101240301</string>
	<key>景德镇</key>
	<string>CN101240801</string>
	<key>长沙</key>
	<string>CN101250101</string>
	<key>张家界</key>
	<string>CN101251101</string>
	<key>贵阳</key>
	<string>CN101260101</string>
	<key>成都</key>
	<string>CN101270101</string>
	<key>自贡</key>
	<string>CN101270301</string>
	<key>绵阳</key>
	<string>CN101270401</string>
	<key>广州</key>
	<string>CN101280101</string>
	<key>汕头</key>
	<string>CN101280501</string>
	<key>深圳</key>
	<string>CN101280601</string>
	<key>珠海</key>
	<string>CN101280701</string>
	<key>佛山</key>
	<string>CN101280800</string>
	<key>昆明</key>
	<string>CN101290101</string>
	<key>大理</key>
	<string>CN101290201</string>
	<key>南宁</key>
	<string>CN101300101</string>
	<key>柳州</key>
	<string>CN101300301</string>
	<key>桂林</key>
	<string>CN101300501</string>
	<key>海口</key>
	<string>CN101310101</string>
	<key>三亚</key>
	<string>CN101310201</string>
	<key>香港</key>
	<string>CN101320101</string>
	<key>澳门</key>
	<string>CN101330101</string>
	<key>台北</key>
	<string>CN101340101</string>
</dict>
</plist>
